<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="field form-group">
    <%= form.label :PID, style: "display: block" %>
    <%= form.text_field :PID, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :First_Name, style: "display: block" %>
    <%= form.text_field :f_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Last_name, style: "display: block" %>
    <%= form.text_field :l_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :NIC, style: "display: block" %>
    <%= form.text_field :NIC, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Phone, style: "display: block" %>
    <%= form.text_field :phone, class:"form-control" %>
  </div>
<br>
  <div>
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
