
<div id="<%= dom_id patient %>" class="jumbotron">
  <h1 class="display-4"><%= patient.f_name %> <%= patient.l_name %></h1>
  <hr class="my-4">

</div>


<div id="<%= dom_id patient %>">
  <p>
    <strong>Pid:</strong>
    <%= patient.PID %>
  </p>


  <p>
    <strong>Nic:</strong>
    <%= patient.NIC %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

</div>



